In [9]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("data.csv")

# Show first 5 rows
print(df.head())

# Save dataframe to new file
df.to_csv("new_data.csv", index=False)

            Name Roll Number Department  Age  Marks
0       Ali Khan    AUST-101         CS   23     68
1     Sara Ahmed    AUST-102         IT   23     98
2     Sara Ahmed    AUST-102         IT   19     76
3    Ayesha Noor    AUST-104         AI   21     57
4  Bilal Hussain    AUST-105    Zoology   22     88