In [9]:
import pandas as pd
# Load the CSV file
df = pd.read_csv("data.csv")
# Using apply
df["Grade"] = df["Marks"].apply(lambda x: "A" if x > 85 else "B")
print(df.head())

            Name Roll Number Department  Age  Marks Grade
0       Ali Khan    AUST-101         CS   23     68     B
1     Sara Ahmed    AUST-102         IT   23     98     A
2     Sara Ahmed    AUST-102         IT   19     76     B
3    Ayesha Noor    AUST-104         AI   21     57     B
4  Bilal Hussain    AUST-105    Zoology   22     88     A

In [10]:
# Using map
dept_map = {"CS": "Computer Science", "IT": "Information Tech", "SE": "Software Eng", "AI": "Artificial Intelligence"}
df["Dept_full"] = df["Department"].map(dept_map)
print(df.head())

            Name Roll Number Department  Age  Marks Grade  \
0       Ali Khan    AUST-101         CS   23     68     B
1     Sara Ahmed    AUST-102         IT   23     98     A
2     Sara Ahmed    AUST-102         IT   19     76     B
3    Ayesha Noor    AUST-104         AI   21     57     B
4  Bilal Hussain    AUST-105    Zoology   22     88     A

                 Dept_full
0         Computer Science
1         Information Tech
2         Information Tech
3  Artificial Intelligence
4                      NaN

In [11]:
# Using transform
df["Double_Age"] = df["Age"].transform(lambda x: x * 2)

print(df.head())

            Name Roll Number Department  Age  Marks Grade  \
0       Ali Khan    AUST-101         CS   23     68     B
1     Sara Ahmed    AUST-102         IT   23     98     A
2     Sara Ahmed    AUST-102         IT   19     76     B
3    Ayesha Noor    AUST-104         AI   21     57     B
4  Bilal Hussain    AUST-105    Zoology   22     88     A

                 Dept_full  Double_Age
0         Computer Science          46
1         Information Tech          46
2         Information Tech          38
3  Artificial Intelligence          42
4                      NaN          44