In [3]:
import pandas as pd
# Load the CSV file
df = pd.read_csv("data.csv")
# Row 0 to 5 using iloc index based 
print(df.iloc[0:5])

            Name Roll Number Department  Age  Marks
0       Ali Khan    AUST-101         CS   23     68
1     Sara Ahmed    AUST-102         IT   23     98
2     Sara Ahmed    AUST-102         IT   19     76
3    Ayesha Noor    AUST-104         AI   21     57
4  Bilal Hussain    AUST-105    Zoology   22     88

In [4]:
# Specific rows + columns using loc
print(df.loc[0:5, ["Name", "Roll Number"]])

             Name Roll Number
0        Ali Khan    AUST-101
1      Sara Ahmed    AUST-102
2      Sara Ahmed    AUST-102
3     Ayesha Noor    AUST-104
4   Bilal Hussain    AUST-105
5  Mehwish Fatima    AUST-106